<div id="cookieConsent" class="cookieConsent tc-privacy-override">
  <div
    id="footer_tc_privacy"
    class="tc-reset-css tc-privacy-banner tc-privacy-footer"
  >
    <div
      id="footer_tc_privacy_container_text"
      class="tc-reset-css tc-privacy-block-text"
    >
      <div id="footer_tc_privacy_text" class="tc-reset-css tc-privacy-text">
        <p>
          En poursuivant votre navigation sur notre site, vous acceptez l'utilisation de cookies cela nous permettra, ainsi qu'à nos partenaires, de vous proposer des offres, services, contenus, publicités personnalisées, et analyser les visites et les performances du site Web.
        </p>
      </div>
    </div>
    <div
      id="footer_privacy_container_button"
      class="tc-reset-css tc-privacy-block-button"
    >
      <button
        id="footer_privacy_button"
        class="tc-reset-css tc-privacy-button"
        title="J'accepte"
        type="button"
      >
        Ok
      </button>
    </div>
  </div>
</div>
