{{ $cardCount := 1 }}
<!---->
{{ range $index, $card := $.Site.Data.desktop_rank.cards }}
<!---->
{{if .card_enable}}
<!---->
{{if lt $index 1}}

{{ if .capital_note }}
  <p class="capital desktop d-md-block">{{ .capital_note }}</p>
{{end}}

<div class="horizontal-ranking desktop d-md-block">
  
  <div class="row ">
    <div class="col-md-3 col-lg-3  hr-part1">
      <div class="card-logo "><img src="{{.logo}}" alt="bank logo" class="list-title-img"></div>
    </div>
    <div class="col-md-4 col-lg-4 list-icons-img mt-auto hr-part2">
      {{with .content}}
      <!---->
      {{range.lists}}
      <img src="/assets/images/checked.svg" alt="call image" class="ads-icon-images" /><span
        class="ads-icon-text ml-2">{{.}}</span><br />
      {{end}} {{end}}
    </div>
    <div class="col-md-2 col-lg-2 mt-auto p-0 hr-part3">
      <div class="rating-star mobile">
        <span class="star-svg"></span>
        <span class="star-svg"></span>
        <span class="star-svg"></span>
        <span class="star-svg"></span>
        <span class="star-svg"></span>
      </div>
      <div class="currency-container">
        <p class="percentage">{{.percentage}}</p>
        <p class="currency-top-text mb-3 mb-md-0">{{.currency}}</p>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 mt-auto  hr-part5">
      <div class="rating-star desktop">
        <span class="star-svg"></span>
        <span class="star-svg"></span>
        <span class="star-svg"></span>
        <span class="star-svg"></span>
        <span class="star-svg"></span>
      </div>
      {{with .button}}
      <a href="{{.link}}" class="btn btn-primary list-btn " target="_blank">
        <span class="btn-text">Visiter le Site</span>
      </a>
      {{end}}
    </div>
  </div>
</div>

{{ if .capital_note }}
  <p class="capital">{{ .capital_note }}</p>
{{end}}

{{end}} {{end}} {{end}}


{{ $cardCount := 1 }}
<!---->
{{ range $index, $card := $.Site.Data.mobile_rank.cards }}
<!---->
{{if .card_enable}}
<!---->
{{if lt $index 1}}
<div class="horizontal-ranking mobile d-sm-block d-md-none">
  <div class="row ">
    <div class="col-md-3 col-lg-3  hr-part1">
      <div class="card-logo ">
        <img src="{{.logo}}" alt="bank logo"
          class="list-title-img"></div>
    </div>
    <div class="col-md-4 col-lg-4 list-icons-img mt-auto hr-part2">
      {{with .content}}
      <!---->
      {{range.lists}}
      <img src="/assets/images/checked.svg" alt="call image" class="ads-icon-images" /><span
        class="ads-icon-text ml-2">{{.}}</span><br />
      {{end}} {{end}}
    </div>
    <div class="col-md-2 col-lg-2 mt-auto p-0  hr-part3">
      <div class="rating-star mobile"><span class="star-svg"></span><span
          class="star-svg"></span><span class="star-svg"></span><span class="star-svg"></span><span
          class="star-svg"></span></div>
      <div class="currency-container">
        <p class="percentage">{{.percentage}}</p>
        <p class="currency-top-text mb-3 mb-md-0">{{.currency}}</p>
      </div>
    </div>
    <div class=" col-md-12 mobile list-icons-img mt-auto clearfix hr-part5 text-left"
      style="margin-left:5%; margin-bottom:5px;">
      {{with .content}}
      <!---->
      {{range.lists}}
      <img src="/assets/images/checked.svg" alt="call image" class="ads-icon-images mr-2" /><span
        class="ads-icon-text ml-2">{{.}}</span><br />
      {{end}} {{end}}
    </div>
    <div class="col-md-3 col-lg-3 mt-auto  hr-part5">
      <div class="rating-star desktop"><span class="star-svg"></span><span
          class="star-svg"></span><span class="star-svg"></span><span class="star-svg"></span><span
          class="star-svg"></span></div>
        {{with .button}}
        <a
        href="{{.link}}"
        class="btn btn-primary list-btn " target="_blank"><span class="btn-text">Visiter le
          Site</span></a>
        {{end}}
    </div>
  </div>
</div>

{{ if .capital_note }}
  <p class="capital mobile d-sm-block d-md-none">{{ .capital_note }}</p>
{{end}}

{{end}} {{end}} {{end}}