<div class="blog-advantage-table blog-advantage-table2">
  <table>
    <tbody>
      <tr>
        <th>Offre</th>
        <th>Frais par ordre</th>
        <th style="70%">Frais d’inactivité</th>
      </tr>
      <tr>
        <td>
          <p> EasyStart</p>
        </td>

        <td>
          <p> 2 € / ordre jusqu’à 800 € <br>puis 0,45% au-delà<br>3,80€ entre 800 et 1500€</p>
        </td>
        <td>
          <p> 0€ de frais d'inactivité</p>
        </td>
      </tr>
      <tr>
        <td>
          <p> EasyDécouverte</p>
        </td>

        <td>
          <p> 2 € / ordre jusqu’à 800 € <br>3,8€ entre 800€ et 1 500€ <br>puis 0,45% au-delà</p>
        </td>
        <td>
          <p> 3,5 € / mois (si pas d’ordre exécuté)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p> EasyPremium</p>
        </td>

        <td>
          <p> 2 € / ordre jusqu’à 800 €<br>3,8€ entre 800€ et 1 500€<br>puis 0,45% au-delà</p>
        </td>
        <td>
          <p> 5 € / mois (si pas d’ordre exécuté)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p> EasyExpert</p>
        </td>

        <td>
          <p> 9 € / ordre jusqu’à 5 000 €<br>12€ entre 5 000€ et 10 000€<br>puis 0,20% au-delà</p>
        </td>
        <td>
          <p> 6,5 € / mois (si pas d’ordre exécuté)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>EasyIntense</p>
        </td>

        <td>
          <p>10 € / ordre jusqu’à 10 000 €<br>au-delà 0,10% plafonné à 25€ jusqu’à 100 000€ (au-delà de 100 000€ : 0.10%
            sur le montant total de l'ordre)</p>
        </td>
        <td>
          <p>15 ordres nécessaires par mois, 5 € par ordre non exécuté</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>